<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ephemeraldreams.gallyshuttle"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.ephemeraldreams.gallyshuttle.gcm.permission.C2D_MESSAGE"/>

    <permission
        android:name="com.ephemeraldreams.gallyshuttle.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".GallyShuttleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GallaudetTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/GallaudetTheme.PreferenceTheme"/>

        <activity
            android:name=".ui.WebViewActivity"
            android:label="@string/title_activity_webview" />

        <service
            android:name=".net.gcm.RegistrationIntentService"
            android:exported="false"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ephemeraldreams.gallyshuttle.gcm"/>
            </intent-filter>
        </receiver>
        <service
            android:name=".net.gcm.InstanceIdListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <receiver android:name=".ui.receivers.NetworkStateBroadCastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>